  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Welcome to Book Reviews <%= current_user.username %></h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
        <a href="users/new" class="btn btn-primary js-scroll-trigger"> Sign Up </a>
        <a href="login" class="btn btn-primary js-scroll-trigger"> Login </a>
      </div>
    </div>
  </header>


